[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/amarlukade
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/amarlukade
	label-Verified = -1..+1 group user/amarlukade
	push = group user/amarlukade
	read = group user/amarlukade
	rebase = group user/amarlukade
	removeReviewer = group user/amarlukade
	submit = group user/amarlukade
[access "refs/heads/*"]
	create = group user/amarlukade
	push = +force group user/amarlukade
	pushMerge = group user/amarlukade
	read = group user/amarlukade
[access "refs/tags/*"]
	push = group user/amarlukade
	push = +force group user/amarlukade
